html, body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #99c2a2, #99c2a2);
  border-radius: 10px;
  padding: 20px;
}

form {
  flex-direction: column;
  align-items: center;
}

input[type="text"],
textarea,
select {
  width: 90%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: #F8F8F8;
  flex: 1; /* ����������� ���� �� ��������� */
}

input[type="text"],
textarea {
  width: calc(150% - 20px);
}

button[type="submit"],
button[type="reset"] {
  padding: 10px;
  margin: 0 5px 0 0; /* ��������� ������� ����� �������� � ������ */
  border-radius: 50px;
  border: none;
  background-color: #5B8E7D;
  color: white;
  outline: 2px solid #1a4341;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 10px; /* ��������� ������ ����� �������� � ������ */
}

.buttons button {
  flex: 1;
}

#error {
  color: red;
  margin-top: 10px;
}
